<!-- In rewards/reward_list.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Rewards List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Cost</th>
        <th>Action</th>
    </tr>
    {% for reward in rewards %}
    <tr>
        <td>{{ reward.name }}</td>
        <td>{{ reward.description }}</td>
        <td>{{ reward.cost }}</td>
        <td>
            {% if student_id %}
                <a href="{% url 'rewards:redeem_reward' student_id reward.id %}">Redeem</a>
            {% else %}
                <span>Login to Redeem</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
